<article class="markdown-section">
  <h1><%- post.title %></h1>
  <%- post.content %>
  <hr>
  Copyright © 2022 <a rel="nofollow" style="color: #777" href="https://beian.miit.gov.cn/">笑颜网</a> <br>
  All Rights Reserved<br>
  <a rel="nofollow" style="color: #777" href="https://beian.miit.gov.cn/">湘ICP备17012851号</a>
</article>