<% if (theme.search) { %>
	<%- partial('search')%>
<% } %>

<header>
	<div class="title">
		<a style="color: black" data-nosearch href="/"><%-config.title%></a>
	</div>
	<%- partial('categories-display', {current_category: current_category}) %>
</header>

<section>
	 <div id="posts_container" class="posts">
		<div class="nav">
			<a class="sub-category" href="/" style="color: black">主页</a>
			<%- partial('catesandposts-display', {current_category: current_category, current_title: current_title}) %>
		</div>
	</div>
	


</section>

