#container {
	
	.sidebar {
		// 小屏幕显示则隐藏
	    left: -300px;
		position: fixed;
		width: 40%;
	    transition: transform .25s ease-out;
		// display: none
	}

	main {
	    height: auto;
	    overflow-x: hidden;
	}

	.content {
	    left: 0;
	    max-width: 100vw;
	    position: static;
	    padding-top: 20px;
	    transition: transform .25s ease;
	}

	.sidebar-toggle {
		width: 100%;
    	background-color: #ffffffb3;
		// display: none
	}

}

#container.close .sidebar {
	transform: translateX(320px);
}

#container.close .content {
	transform: translateX(320px);
}

#container.close .sidebar-toggle {
	width: auto;
	background-color: transparent;
}